{% extends 'flatpages/default.html' %}
{% load news_filters %}


{% block title %}
Все публикации
{% endblock title %}


{% block content %}
<p><p style="text-align: center;">
    <em>
        <strong>Всего публикаций: {{ posts|length }}</strong>
    </em>
</p>
<div class="container m-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Тип</th>
                    <th>Дата публикации</th>
                    <th>Превью</th>
                    {% if perms.news.change_post %}
                    <th>Редактировать</th>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <th>Удалить</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                <tr>
                    <td><a href="{% url 'post_detail' post.id %}">{{ post.post_header|censor }}</a></td>
                    <td>{{ post.get_article_news_display }}</td>
                    <td>{{ post.post_date|date:'d.M.Y' }}</td>
                    <td>{{ post.post_content|truncatechars:20|censor }}</td>
                    {% if perms.news.change_post %}
                    <td>
                        {% if post.article_news == "N" %}
                        <a href="{% url 'news_edit' post.id %}">изменить</a>
                        {% else %}
                        <a href="{% url 'articles_edit' post.id %}">изменить</a>
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <td>
                        {% if post.article_news == "N" %}
                        <a href="{% url 'news_delete' post.id %}">удалить</a>
                        {% else %}
                        <a href="{% url 'articles_delete' post.id %}">удалить</a>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">
                        <div>Еще нет новостей</div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Пагинация -->
<div class="pagination justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        <!--кнопка первая -->
         {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">
                    Первая
                    </a>
                </li>
         {% endif %}

        <!--текущие страницы -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ num }}
                    </span>
                </li>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">
                        {{ num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        <!--кнопка последняя-->
        {% if page_obj.has_next %}
            {% if paginator.num_pages != page_obj.next_page_number %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">
                        Последняя
                    </a>
                </li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}